.x-grid-cell {
    vertical-align: middle;
}

.x-grid-cell-checkcolumn .x-grid-cell-inner {
    padding-top: 4px;
    padding-bottom: 2px;
    line-height: 14px;
}

.x-grid-with-row-lines .x-grid-cell-checkcolumn .x-grid-cell-inner {
    padding-top: 3px;
}

.x-grid-checkheader {
    height: 14px;
    background-image: url('images/unchecked.gif');
    background-position: 50% -2px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.x-grid-checkheader-checked {
    background-image: url('images/checked.gif');
}

.x-grid-checkheader-editor .x-form-cb-wrap {
    text-align: center;
}

.hmp-pt-picture button {
    line-height: 66px;
    width: 66px !important;
    height: 66px !important;
}

.hmp-pt-picture .x-btn-icon {
    width: 66px;
    height: 66px;
    background-size: 66px 66px;
}

/* tiles */

.hmp-tile {
    height: 58px;
    width: 138px;
    padding: 4px;
    margin: 9px 12px 9px 9px;
    min-width: 0px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    white-space: normal;
    background-color: #f4f4f4;
    opacity: 1;
    border: #bbb 1px solid;
    border-radius: 6px;
    cursor: move;
}

.hmp-tile-over {
    border: #bbb 1px solid;
    box-shadow: #999 0px 0px 4px 0px;
}

.hmp-tile-icon {
    height: 48px;
    width: 48px;
    float: left;
}

.hmp-tile-inner {
    padding: 2px 4px 2px 4px;
    vertical-align: middle;
    white-space: normal;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.hmp-tile-close {
    position: absolute;
    top: 4px;
    right: 4px;
    height: 15px;
    width: 15px;
    cursor: pointer;
    z-index: 3;
    background-color: transparent;
    background-repeat: no-repeat;
}

.hmp-tile-over .hmp-tile-close {
    background-image: url('/lib/extjs-4.1.3/resources/themes/images/gray/tools/tool-sprites.gif');
}

/* add person button */

.hmp-person-add-btn {
    height: 58px;
    width: 138px;
    padding: 4px;
    margin: 9px 12px 9px 9px;
    border: #bbb 1px dashed;
}

.hmp-person-add-btn.x-menu-active {
    border-style: solid;
    box-shadow: #888 0px 0px 4px 0px; /* TODO: not sure why shadow shows above button - do this like in PatientBanner */
}

.hmp-photo-drop-area {
    border: #bbb 1px dashed;
    white-space: normal;
    word-wrap: break-word;
}

.hmp-user-button .x-btn-icon {
    background-size: 16px;
}

.x-tool img {
    height: 16px;
    width: 16px;
}

.x-tool-plus {
    background-image: url('/images/icons/ic_plus.png') !important;
    background-position: 0;
}

.x-tool-over .x-tool-plus {
    background-image: url('/images/icons/ic_plus.png') !important;
    background-position: 0;
}

.hmp-delete-icon {
    background-image: url('/images/icons/x_alt.svg');
    /*background-color: red;*/
    background-size: 16px 16px;
    -webkit-background-size: 16px 16px;
}

/* Row actions */
.hmp-row-action-btn {
	background: url('/images/icons/warning_sign.png'); 
	background-repeat: no-repeat; 
	background-size: 15px 15px;
}

.hmp-row-action-split-btn {
	background: url('/images/icons/application_tile_horizontal.png'); 
	background-repeat: no-repeat; 
	background-size: 15px 15px;
}

.hmp-row-action-board-btn {
	background: url('/images/icons/application.png'); 
	background-repeat: no-repeat; 
	background-size: 15px 15px;
}

.hmp-row-action-chart-btn {
	background: url('/images/icons/layout_content.png'); 
	background-repeat: no-repeat; 
	background-size: 15px 15px;
}

.hmp-document {
    width: 100%;
}

.hmp-document-collapse-trigger {
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 0px -2px;
}

.hmp-document .hmp-document-collapse-trigger {
    background-image: url('/images/icons/arrow_down.png');
}

.hmp-document-collapsed .hmp-document-collapse-trigger  {
    background-image: url('/images/icons/arrow_right.png');
}

.hmp-document-collapse-trigger a {
    margin-left: 17px;
}

.hmp-document-title-hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 2px auto;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
}

.hmp-document .hmp-document-body {
   display: block;
   margin-left: 10px;
}

.hmp-document-collapsed .hmp-document-body {
    display: none;
}