<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
 		<!--<property name="show_sql">true</property>-->

        <!-- cache settings -->
        <!--<property name="hibernate.cache.use_second_level_cache">true</property>-->
        <!--<property name="hibernate.cache.use_query_cache">true</property>-->
        <!--<property name="hibernate.cache.region.factory_class">net.sf.ehcache.hibernate.SingletonEhCacheRegionFactory</property>-->

        <!-- DB schema will be updated if needed -->
 		<property name="hibernate.hbm2ddl.auto">update</property>

 		<property name="hibernate.default_entity_mode">dynamic-map</property>

		<mapping resource="ext/domain/cpe/vpr/pom/hibernate/PatientObjects.hbm.xml" />
		<mapping resource="ext/domain/cpe/vpr/pom/hibernate/MedObjects.hbm.xml" />
        <mapping resource="ext/domain/cpe/vpr/pom/hibernate/OrderObjects.hbm.xml" />
		<mapping resource="ext/domain/cpe/vpr/pom/hibernate/ProcedureObjects.hbm.xml" />
		<mapping resource="ext/domain/cpe/vpr/pom/hibernate/ImmunizationObjects.hbm.xml" />
		<mapping resource="ext/domain/cpe/vpr/pom/hibernate/DocumentObjects.hbm.xml" />
		<mapping resource="ext/domain/cpe/vpr/pom/hibernate/EncounterObjects.hbm.xml" />
        <mapping resource="ext/domain/cpe/vpr/pom/hibernate/AllergyObjects.hbm.xml" />
        <mapping resource="ext/domain/cpe/vpr/pom/hibernate/ResultObjects.hbm.xml" />
        <mapping resource="ext/domain/cpe/vpr/pom/hibernate/ProblemObjects.hbm.xml" />
        <mapping resource="ext/domain/cpe/vpr/pom/hibernate/ObservationObjects.hbm.xml" />
        <mapping resource="ext/domain/cpe/vpr/pom/hibernate/VitalsObjects.hbm.xml" />
        <mapping resource="ext/domain/cpe/vpr/pom/hibernate/HealthFactorObjects.hbm.xml" />
	</session-factory>
</hibernate-configuration>
